.loader {
  width: 100px;
  height: 75px;
  background: #fff;
  border-radius: 100%;
  scale: 0.4;
}
.loader:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border: 15px solid transparent;
  border-top: 25px solid #fff;
  transform: rotate(45deg);
  top: 50px;
  left: -15px;
}

.loader:after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #F6E8DD;
  box-shadow: 20px 0 #004cff, -20px 0 #ff3d00;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: rgba(255, 60, 0, 0.25);
    box-shadow: 20px 0 rgba(255, 60, 0, 0.25), -20px 0 #ff3d00;
  }
  50% {
    background-color: #ff3d00;
    box-shadow: 20px 0 rgba(255, 60, 0, 0.25), -20px 0 rgba(255, 60, 0, 0.25);
  }
  100% {
    background-color: rgba(255, 60, 0, 0.25);
    box-shadow: 20px 0 #ff3d00, -20px 0 rgba(255, 60, 0, 0.25);
  }
}
