* {
  box-sizing: border-box;
}

.nav {
  position: relative;
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 20px 0;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 20px;
  /* left: 0;
  right: 0;
  margin: auto; */
}

.viewport {
  position: absolute;
  pointer-events: none;
  width: 100%;
  /* width: calc(70% + 8px); */
  top: 100px;

  margin: auto;
}

.num {
  position: absolute;
  color: #555;
  color: #fafafa;
  font-size: 18px;
  line-height: 1;
  top: 14px;
  left: 8px;
  text-shadow: 1px 1px 0px #555, -1px -1px 0px #555, 1px -1px 0px #555,
    -1px 1px 0px #555;
}

.box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes {
  position: relative;
}
